.buttons{
    /* border: 20px solid black; */
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.buttons > button{
    padding: 10px 20px ;
    margin: 0px 5px;
    border-radius: 5px;
}

.buttons > button:hover{
    background-color: beige;
}